

@media (min-width: 992px) {
  /* START OF NAVBAR */

  .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    display: block;
  }

  .navbar-nav .nav-link:hover::before {
    width: 90%;
  }

  .navbar-nav .nav-link.active::before {
    width: 90%;
  }
  .navbar-nav .nav-link:hover {
    background-color: transparent;
  }

  .mega-menu {
    max-width: 100%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: 0;
  }
  .navbar-brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  .mega-menu {
    max-width: 100%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: 0;
  }

  .mega-menu .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .mega-menu .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 16px 0;
  }

  .navbar-nav .dropdown-menu.mega-menu {
    width: 1100px;
    max-width: 95vw;
    padding: 2rem;
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
  }

  /* END OF NAVBAR  */

  /* START OF HERO SECTION */

  .hero-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  /* END OF HERO SECTION */

  /* START OF CONTACT US Section  */

  .contact-section {
    position: relative;
    overflow: hidden;
  }

  .contact-decoration {
    position: absolute;
    z-index: 0;
  }

  .contact-decoration-1 {
    top: -80px;
    right: -80px;
    width: 280px;
    height: 280px;
    background-color: #f6f4fe;
    border-radius: 50% 0 0 50%;
    opacity: 0.7;
    display: block;
  }

  .contact-decoration-2 {
    top: 80px;
    right: 110px;
    width: 100px;
    height: 100px;
    border: 3px solid #ddd6fe;
    border-radius: 50%;
    background: transparent;
    display: block;
  }
  .contact-decoration-3 {
    bottom: -80px;
    left: -80px;
    width: 280px;
    height: 280px;
    background-color: #f9f3ff;
    border-radius: 0 50% 50% 0;
    opacity: 0.7;
    display: block;
  }

  .contact-decoration-4 {
    bottom: 60px;
    left: 130px;
    width: 100px;
    height: 100px;
    border: 3px solid #e9d4ff;
    border-radius: 50%;
    background: transparent;
    display: block;
  }

  .contact-section .container {
    position: relative;
    z-index: 1;
  }

  .contact-title {
    font-size: 48px;
    line-height: 48px;
  }

  .contact-form-title {
    font-size: 30px;
  }

  /* END OF CONTACT US SECTION */
}